﻿
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.container {
    width: 1280px;
    margin: 0 auto;
}
.title {
    font-family: 'Roboto';
    display: flex;
    font-size: 80px;
    font-style: normal;
    line-height: 94px;
    align-items: flex-end;
    text-align: center;
    width: 334px;
    height: 79px;
    color: #000000;
    margin-top: 63px;
}
.title_color{
    color: #4BCAFF;
}
a:active,
a:hover,
a.title {
    text-decoration: none;
    color: #000000;
}
.top-menu {
    margin-top: 40px;
    width: 1280px;
    height: 69px;
    background-color: #35444F;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.items {
    display: flex;
    justify-content: space-around;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    font-family: 'Roboto';
}

a.menu_item_link{
    text-decoration: none;
    color:#FFFFFF;
    display: block;
    padding: 24px 33px 18px 32px;
    outline-width: 1px;
    outline-style: solid;
    outline-color: white;
}
a.menu_item_link:hover{
    background-color: #222F3A;
   
}
.aside{
    width: 344px;
    height: 399px;
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #000000;
    display: flex;
    justify-content: space-around;
    margin-top: 49px;
    margin-right: 52px;
}

.items_aside{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 27px;
    color:#495863;

}
a.aside_link {
    text-decoration: none;
    color: #495863;
    display: block;
    padding: 27px 79px 27px 39px;
    box-sizing: border-box;
    width: 342px;
    height: 81px;
}
a.aside_link:hover{
    background-color: #DBDBDB;
    text-align: center;
}
main{
    display: flex;

}
.main_content{
    display: flex;
    flex-direction: column;
    margin-top: 49px;
    width: 885px;
    /*height: 832px;
    
     */
}
.image {

    display: flex;
    justify-content: center;
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #000000;
    width: 885px;
    height: 529px;
    align-items: center;
}
.image_main{
    width: 320px;
    height: 381px;
    transition: 1s;
}
.image_main:hover{
    transform: scale(1.2);
}
.article{
    display: flex;
    flex-direction: row;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #2C2C2C;
    flex-wrap: wrap;
    margin-top: 37px;
   
    margin-bottom: 54px;
}
.article_one{
    width: 885px;
    height: 120px;
}
.article_two{
    margin-top: 34px;
    width: 885px;
    height: 109px;
}
.bottom-menu{
    margin-top: 69px;
    margin-bottom: 30px;
    width: 1280px;
    height: 69px;
    background-color: rgba(99, 105, 110, 0.48);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.bottom-menu:after{
    content: "Copyright © 2018";
    font-family: 'Roboto';
    display: flex;
    justify-content: flex-end;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    color: #010101;
    width: 190px;
    height: 69px;
    align-items: center;


}
.items_bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 875px;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 28px;
    font-family: 'Roboto';

}
a.menu_item_bottom_link {
    text-decoration: none;
    color: #0C1927;
    display: block;
}
a.menu_item_bottom_link:hover{
   color: #3181A6;
    padding: 13px;
    border-bottom: 1px solid #3181A6;
  
}
#changeTheme{

    background-color: #c2fbd7;
    border-radius: 100px;
    box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
    color: green;
    cursor: pointer;
    display: inline-block;
    font-family:Roboto,sans-serif;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-33:hover {
    box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
    transform: scale(1.05) rotate(-1deg);
}


.element.night_theme{
    background-color: #373737;
}
.image.night_theme{
    background:rgb(255 255 255 / 67%);
}
.article.night_theme{
    color: #fbf0f4;
}
.aside.night_theme{
    background-color: #737171;
}
.aside_link.night_theme:hover{
    background-color: #a19f9f;
}
.top-menu.night_theme{
    background-color: #597085;

}
.aside_link.night_theme{
    color: #ffffff;

}
.bottom-menu.night_theme{
    background-color: rgba(193, 197, 220, 0.48);
}
.menu_item_bottom_link.night_theme{
    color: #FFFFFF;
}
.menu_item_bottom_link.night_theme:hover{
    color: #6ec4f3;
}
.bottom-menu.night_theme::after{
    color: #ffffff;
}
